In [ ]:
!pip install geopandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import geopandas as gpd
import matplotlib.pyplot as plt

#성주야 이글을 본다면 나는 먼지가 되어 있겠지 김론 황스크 화이팅 화이팅!! 먼지가 되어버린 영훈이 화이팅!

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 23.0 MB/s eta 0:00:00
Collecting fiona>=1.8
  Downloading Fiona-1.9.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 49.7 MB/s eta 0:00:00
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.5.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 66.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (23.1.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (6.6.0)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.15.0)
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.3 geopandas-0.12.2 munch-2.5.0 pyproj-3.5.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
#속도데이터를 모두 가져와서 합치고 권역구분이 광진구이며 차선수가 2 이상인 데이터
#만 남겨서 결측치 제거함함
speed1=pd.read_excel(r'2022년 3월 서울시 차량통행속도.xlsx')
speed2=pd.read_excel(r'2022년 4월 서울시 차량통행속도.xlsx')
speed3=pd.read_excel(r'2022년 5월 서울시 차량통행속도.xlsx')
speed4=pd.read_excel(r'2022년 6월 서울시 차량통행속도.xlsx')
speed5=pd.read_excel(r'2022년 7월 서울시 차량통행속도.xlsx')
speed6=pd.read_excel(r'2022년 8월 서울시 차량통행속도.xlsx')
speed8=pd.read_excel(r'2022년 9월 서울시 차량통행속도.xlsx')
speed7=pd.read_excel(r'2022년 10월 서울시 차량통행속도.xlsx')
speed9=pd.read_excel(r'2022년 11월 서울시 차량통행속도.xlsx')
speed10=pd.read_excel(r'2022년 12월 서울시 차량통행속도.xlsx')
speed11=pd.read_excel(r'2023년 1월 서울시 차량통행속도.xlsx')
speed12=pd.read_excel(r'2023년 2월 서울시 차량통행속도.xlsx')


speed = pd.concat([speed1, speed2, speed3, speed4, speed5, speed6, speed7,speed8, speed9])

speed_data = pd.concat([speed, speed10, speed11, speed12])

speed_data = speed_data.dropna()

speed_data = speed_data[speed_data['권역구분']=='광진구']

speed_data = speed_data[speed_data['차선수']>=2]

print(speed_data)

              일자 요일   도로명       링크아이디         시점명        종점명  방향    거리  차선수  \
150     20220301  화  강동대로  1230037000     올림픽대교북단    올림픽대교남단  상행  1228  3.0
168     20220301  화  강변북로  2210000500       토평삼거리   강변북로구리시계  상행  1997  3.0
169     20220301  화  강변북로  1040004100    강변북로구리시계      광진교북단  상행  1478  3.0
170     20220301  화  강변북로  1040002100       광진교북단     천호대교북단  상행   258  3.0
171     20220301  화  강변북로  1040001500      천호대교북단    올림픽대교북단  상행   897  4.0
...          ... ..   ...         ...         ...        ...  ..   ...  ...
141196  20230228  화  천호대로  1040003800  아차산역(하이마트)       아차산역  하행   445  4.0
141197  20230228  화  천호대로  1040004400        아차산역        군자역  하행   889  5.0
141198  20230228  화  천호대로  1040004800         군자역  외환은행군자지점앞  하행   246  5.0
141199  20230228  화  천호대로  1040005000   외환은행군자지점앞      군자교동단  하행   320  5.0
141200  20230228  화  천호대로  1040015500       군자교동단      군자교서단  하행   291  5.0

        기능유형구분  ...    15시    16시    17시    18시    19시    20시    21시    22시  \
150      주간선도로  ...  55.82  55.83  53.81  55.17  55.05  56.51  55.05  54.65
168     도시고속도로  ...  80.00  80.00  80.00  80.00  80.00  80.00  80.00  80.00
169     도시고속도로  ...  85.75  85.08  86.42  87.25  85.92  86.50  90.17  93.00
170     도시고속도로  ...  85.75  85.08  86.42  87.25  85.92  86.50  90.17  93.00
171     도시고속도로  ...  76.25  75.17  74.92  75.17  75.33  74.83  76.08  75.50
...        ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
141196   주간선도로  ...  23.42  21.03  19.55  16.18  17.24  18.29  18.82  21.87
141197   주간선도로  ...  19.38  18.32  15.25  13.93  13.95  15.10  21.73  23.42
141198   주간선도로  ...  29.87  29.79  30.23  29.95  27.26  28.52  30.46  29.63
141199   주간선도로  ...  28.02  26.96  28.22  28.87  27.30  27.35  31.39  28.71
141200   주간선도로  ...  37.83  37.09  36.82  30.93  28.53  31.74  36.54  41.22

          23시    24시
150     55.85  56.80
168     80.00  80.00
169     96.25  98.67
170     96.25  98.67
171     78.08  80.50
...       ...    ...
141196  24.91  29.08
141197  25.07  27.79
141198  31.32  23.43
141199  26.71  31.98
141200  44.28  43.33

[49881 rows x 36 columns]

In [ ]:
#교통량 데이터 월별로 로딩하여 모두 합치고 결측치를 제거함함
traffic1=pd.read_excel(r'03월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic2=pd.read_excel(r'04월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic3=pd.read_excel(r'05월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic4=pd.read_excel(r'06월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic5=pd.read_excel(r'07월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic6=pd.read_excel(r'08월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic7=pd.read_excel(r'09월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic8=pd.read_excel(r'10월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic9=pd.read_excel(r'11월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic10=pd.read_excel(r'12월 서울시 교통량 조사자료(2022).xlsx', sheet_name = 1)
traffic11=pd.read_excel(r'01월 서울시 교통량 조사자료(2023).xlsx', sheet_name = 1)
traffic12=pd.read_excel(r'02월 서울시 교통량 조사자료(2023).xlsx', sheet_name = 1)

traffic = pd.concat([traffic1, traffic2, traffic3, traffic4, traffic5, traffic6, traffic7, traffic8, traffic9])

traffic_data = pd.concat([traffic, traffic10, traffic11, traffic12])

traffic_data = traffic_data.dropna()

print(traffic_data)

            일자 요일        지점명  지점번호  방향            구분     0시     1시     2시  \
3     20220304  금  성산로(금화터널)  A-01  유입  봉원고가차도->독립문역  365.0  275.0  184.0
4     20220305  토  성산로(금화터널)  A-01  유입  봉원고가차도->독립문역  464.0  292.0  197.0
5     20220306  일  성산로(금화터널)  A-01  유입  봉원고가차도->독립문역  390.0  241.0  166.0
6     20220307  월  성산로(금화터널)  A-01  유입  봉원고가차도->독립문역  299.0  186.0  133.0
7     20220308  화  성산로(금화터널)  A-01  유입  봉원고가차도->독립문역  426.0  295.0  192.0
...        ... ..        ...   ...  ..           ...    ...    ...    ...
7779  20220224  금   신월여의지하도로  F-10  유출     서울교->신월IC  665.0  397.0  248.0
7780  20220225  토   신월여의지하도로  F-10  유출     서울교->신월IC  758.0  474.0  320.0
7781  20220226  일   신월여의지하도로  F-10  유출     서울교->신월IC  580.0  362.0  271.0
7782  20220227  월   신월여의지하도로  F-10  유출     서울교->신월IC  373.0  205.0  137.0
7783  20220228  화   신월여의지하도로  F-10  유출     서울교->신월IC  515.0  322.0  193.0

         3시  ...     14시     15시     16시     17시     18시     19시     20시  \
3     169.0  ...  1843.0  2107.0  1815.0  2049.0  1854.0  1341.0  1084.0
4     187.0  ...  1714.0  1732.0  1698.0  1562.0  1333.0  1007.0   907.0
5     125.0  ...  1608.0  1420.0  1336.0  1280.0  1147.0   986.0   872.0
6     122.0  ...  1664.0  1765.0  1747.0  1887.0  1669.0  1285.0  1069.0
7     150.0  ...  1681.0  1883.0  2016.0  2072.0  1923.0  1414.0  1144.0
...     ...  ...     ...     ...     ...     ...     ...     ...     ...
7779  173.0  ...  1809.0  2102.0  2145.0  2068.0  2018.0  2039.0  2047.0
7780  215.0  ...  1967.0  2094.0  2025.0  1986.0  1763.0  2005.0  1859.0
7781  168.0  ...  1654.0  1982.0  1463.0  1689.0  1829.0  1548.0  1258.0
7782  109.0  ...  1546.0  1939.0  2108.0  2012.0  2028.0  2051.0  2121.0
7783  157.0  ...  1622.0  1821.0  2127.0  2077.0  2027.0  2076.0  2120.0

         21시     22시     23시
3     1112.0   880.0   661.0
4      894.0   763.0   530.0
5      858.0   667.0   481.0
6     1039.0   837.0   564.0
7     1101.0   952.0   666.0
...      ...     ...     ...
7779  1560.0  1545.0  1128.0
7780  1694.0  1413.0   871.0
7781  1279.0  1152.0   622.0
7782  1550.0  1344.0   913.0
7783  1829.0  1707.0  1276.0

[84858 rows x 30 columns]

In [ ]:
plt.rcParams["font.family"] = 'NanumGothic'
plt.rcParams["figure.figsize"] = (10, 10)

seoul = gpd.read_file('sig.shp', encoding = 'euc-kr')
seoul

,SIG_CD,SIG_ENG_NM,SIG_KOR_NM,geometry
0,11110,Jongno-gu,종로구,"POLYGON ((956615.453 1953567.199, 956621.579 1..."
1,11140,Jung-gu,중구,"POLYGON ((957890.386 1952616.746, 957909.908 1..."
2,11170,Yongsan-gu,용산구,"POLYGON ((953115.761 1950834.084, 953114.206 1..."
3,11200,Seongdong-gu,성동구,"POLYGON ((959681.109 1952649.605, 959842.412 1..."
4,11215,Gwangjin-gu,광진구,"POLYGON ((964825.058 1952633.250, 964875.565 1..."
...,...,...,...,...
245,48870,Hamyang-gun,함양군,"POLYGON ((1017715.723 1751280.191, 1017761.619..."
246,48880,Geochang-gun,거창군,"POLYGON ((1034571.593 1767759.812, 1034559.208..."
247,48890,Hapcheon-gun,합천군,"POLYGON ((1054066.576 1759517.415, 1054101.450..."
248,50110,Jeju-si,제주시,"MULTIPOLYGON (((874410.953 1480515.382, 874408..."
249,50130,Seogwipo-si,서귀포시,"MULTIPOLYGON (((885004.560 1458756.461, 884996..."

In [ ]:
#서울특별시 표준링크 매핑정보에서 표준링크 순서 삭제하고
#speed_data의 링크아이디와 중복되는 경우 서비스 링크를 표시하도록 함

mapping = pd.read_excel('서울특별시 표준링크 매핑정보.xlsx')
mapping = mapping.drop("표준링크순서", axis = 1)
mapping = mapping.drop_duplicates(subset=['서비스링크'])

mapping

speed_data = pd.merge(left=speed_data, right=mapping, how = 'inner', left_on = '링크아이디', right_on = '서비스링크')

print(speed_data)

             일자 요일   도로명       링크아이디      시점명      종점명  방향    거리  차선수 기능유형구분  \
0      20220301  화  강동대로  1230037000  올림픽대교북단  올림픽대교남단  상행  1228  3.0  주간선도로
1      20220302  수  강동대로  1230037000  올림픽대교북단  올림픽대교남단  상행  1228  3.0  주간선도로
2      20220303  목  강동대로  1230037000  올림픽대교북단  올림픽대교남단  상행  1228  3.0  주간선도로
3      20220304  금  강동대로  1230037000  올림픽대교북단  올림픽대교남단  상행  1228  3.0  주간선도로
4      20220305  토  강동대로  1230037000  올림픽대교북단  올림픽대교남단  상행  1228  3.0  주간선도로
...         ... ..   ...         ...      ...      ...  ..   ...  ...    ...
49876  20230224  금  천호대로  1040015500    군자교동단    군자교서단  하행   291  5.0  주간선도로
49877  20230225  토  천호대로  1040015500    군자교동단    군자교서단  하행   291  5.0  주간선도로
49878  20230226  일  천호대로  1040015500    군자교동단    군자교서단  하행   291  5.0  주간선도로
49879  20230227  월  천호대로  1040015500    군자교동단    군자교서단  하행   291  5.0  주간선도로
49880  20230228  화  천호대로  1040015500    군자교동단    군자교서단  하행   291  5.0  주간선도로

       ...    19시    20시    21시    22시    23시    24시     서비스링크_x   표준링크아이디_x  \
0      ...  55.05  56.51  55.05  54.65  55.85  56.80  1230037000  1040025400
1      ...  53.29  52.56  53.98  54.85  55.17  55.26  1230037000  1040025400
2      ...  50.89  51.86  55.46  56.28  55.11  57.75  1230037000  1040025400
3      ...  49.68  48.24  53.42  55.37  55.62  56.45  1230037000  1040025400
4      ...  53.25  53.62  54.80  55.79  56.97  56.64  1230037000  1040025400
...    ...    ...    ...    ...    ...    ...    ...         ...         ...
49876  ...  28.75  29.80  37.50  40.54  43.49  44.28  1040015500  1040005501
49877  ...  37.02  38.70  42.38  42.94  44.69  45.87  1040015500  1040005501
49878  ...  41.65  40.60  42.68  42.58  44.03  45.32  1040015500  1040005501
49879  ...  31.51  33.03  40.04  41.48  43.76  45.90  1040015500  1040005501
49880  ...  28.53  31.74  36.54  41.22  44.28  43.33  1040015500  1040005501

          서비스링크_y   표준링크아이디_y
0      1230037000  1040025400
1      1230037000  1040025400
2      1230037000  1040025400
3      1230037000  1040025400
4      1230037000  1040025400
...           ...         ...
49876  1040015500  1040005501
49877  1040015500  1040005501
49878  1040015500  1040005501
49879  1040015500  1040005501
49880  1040015500  1040005501

[49881 rows x 40 columns]