In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#모델에 넣기 위해 변환해야하는 것
#요일 -> 0~5, 주말유무 0,1(주말/공휴일), 날씨 유형

In [4]:
import pandas as pd

csv = '/content/drive/MyDrive/공모전/데이터/데이터 전처리 마무리.csv'
df = pd.read_csv(csv, encoding = 'utf-8-sig')

print(df)

      Unnamed: 0        일자 요일    도로명  지점번호      시점명      종점명  방향    거리  차선수  \
0              0  20220302  수   강동대로  C-19  올림픽대교북단  올림픽대교남단  상행  1228    3
1              1  20220302  수    동일로  D-07    군자교동단    화양사거리  하행  1350    2
2              2  20220302  수  분당수서로  C-17   청담대교북단   청담대교남단  상행  1575    3
3              3  20220302  수   송파대로  C-18   잠실대교북단   잠실대교남단  상행  1171    4
4              4  20220302  수   천호대로  C-20   천호대교북단   천호대교남단  상행  1001    3
...          ...       ... ..    ...   ...      ...      ...  ..   ...  ...
1555        1555  20230131  화   강동대로  C-19  올림픽대교북단  올림픽대교남단  상행  1228    3
1556        1556  20230131  화    동일로  D-07    군자교동단    화양사거리  하행  1350    2
1557        1557  20230131  화  분당수서로  C-17   청담대교북단   청담대교남단  상행  1575    3
1558        1558  20230131  화   송파대로  C-18   잠실대교북단   잠실대교남단  상행  1171    4
1559        1559  20230131  화   천호대로  C-20   천호대교북단   천호대교남단  상행  1001    3

      ... 15시_교통량 16시_교통량 17시_교통량  18시_교통량  19시_교통량  20시_교통량  21시_교통량  \
0     ...    2184    2493    2721     2921     1993     1311     1097
1     ...    1856    2223    2432     2611     2429     1828     1701
2     ...    3526    3994    3560     3444     2920     2749     2649
3     ...    2208    2446    2396     2551     2371     1944     1961
4     ...    1684    1776    1751     1994     1405     1084     1002
...   ...     ...     ...     ...      ...      ...      ...      ...
1555  ...    2420    2396    2862     2975     2098     1379     1168
1556  ...    1980    2159    2404     2548     2397     2008     1721
1557  ...    3316    3431    3088     3095     3588     3184     2877
1558  ...    2436    2442    2696     3038     2435     2185     2102
1559  ...    1634    1718    1858     1811     1554     1125      998

      22시_교통량  23시_교통량  24시_교통량
0         982      492      213
1        1588     1021      568
2        2382     1274      667
3        1757     1116      536
4         952      579      307
...       ...      ...      ...
1555     1027      606      250
1556     1534     1273     1008
1557     2432     1667      994
1558     1801     1429      928
1559      954      701      496

[1560 rows x 61 columns]

In [4]:
1560 * 60

93600

In [ ]:
#y=속도, x=시간, 교통량, 날씨, 주말(공휴일) 유무, 요일, 제한속도, 도로유형, 합류구간 수

In [12]:
#데이터 형태 변환
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['Unnamed: 0', '일자', '요일', '도로명', '지점번호', '시점명', '종점명', '방향', '거리',
       '차선수', '기능유형구분', '도심/외곽구분', '권역구분', '01시_속도', '02시_속도', '03시_속도',
       '04시_속도', '05시_속도', '06시_속도', '07시_속도', '08시_속도', '09시_속도', '10시_속도',
       '11시_속도', '12시_속도', '13시_속도', '14시_속도', '15시_속도', '16시_속도', '17시_속도',
       '18시_속도', '19시_속도', '20시_속도', '21시_속도', '22시_속도', '23시_속도', '24시_속도',
       '01시_교통량', '02시_교통량', '03시_교통량', '04시_교통량', '05시_교통량', '06시_교통량',
       '07시_교통량', '08시_교통량', '09시_교통량', '10시_교통량', '11시_교통량', '12시_교통량',
       '13시_교통량', '14시_교통량', '15시_교통량', '16시_교통량', '17시_교통량', '18시_교통량',
       '19시_교통량', '20시_교통량', '21시_교통량', '22시_교통량', '23시_교통량', '24시_교통량'],
      dtype='object')>

In [13]:
new_df = df[['01시_속도', '02시_속도', '03시_속도',
       '04시_속도', '05시_속도', '06시_속도', '07시_속도', '08시_속도', '09시_속도', '10시_속도',
       '11시_속도', '12시_속도', '13시_속도', '14시_속도', '15시_속도', '16시_속도', '17시_속도',
       '18시_속도', '19시_속도', '20시_속도', '21시_속도', '22시_속도', '23시_속도', '24시_속도',
       '01시_교통량', '02시_교통량', '03시_교통량', '04시_교통량', '05시_교통량', '06시_교통량',
       '07시_교통량', '08시_교통량', '09시_교통량', '10시_교통량', '11시_교통량', '12시_교통량',
       '13시_교통량', '14시_교통량', '15시_교통량', '16시_교통량', '17시_교통량', '18시_교통량',
       '19시_교통량', '20시_교통량', '21시_교통량', '22시_교통량', '23시_교통량', '24시_교통량']]

,01시_속도,02시_속도,03시_속도,04시_속도,05시_속도,06시_속도,07시_속도,08시_속도,09시_속도,10시_속도,...,15시_교통량,16시_교통량,17시_교통량,18시_교통량,19시_교통량,20시_교통량,21시_교통량,22시_교통량,23시_교통량,24시_교통량
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1556,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1557,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1558,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1559,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
velo_df=new_df[['01시_속도', '02시_속도', '03시_속도',
       '04시_속도', '05시_속도', '06시_속도', '07시_속도', '08시_속도', '09시_속도', '10시_속도',
       '11시_속도', '12시_속도', '13시_속도', '14시_속도', '15시_속도', '16시_속도', '17시_속도',
       '18시_속도', '19시_속도', '20시_속도', '21시_속도', '22시_속도', '23시_속도', '24시_속도']]
vol_df = new_df[[ '01시_교통량', '02시_교통량', '03시_교통량', '04시_교통량', '05시_교통량', '06시_교통량',
       '07시_교통량', '08시_교통량', '09시_교통량', '10시_교통량', '11시_교통량', '12시_교통량',
       '13시_교통량', '14시_교통량', '15시_교통량', '16시_교통량', '17시_교통량', '18시_교통량',
       '19시_교통량', '20시_교통량', '21시_교통량', '22시_교통량', '23시_교통량', '24시_교통량']]

In [34]:
vel_01 = velo_df.loc[[0]]
vel_01 = vel_01.transpose()

In [35]:
vel_01

            0
01시_속도  58.43
02시_속도  57.97
03시_속도  61.02
04시_속도  61.25
05시_속도  57.99
06시_속도  58.77
07시_속도  56.67
08시_속도  53.81
09시_속도  42.14
10시_속도  48.40
11시_속도  52.48
12시_속도  54.31
13시_속도  55.21
14시_속도  54.28
15시_속도  54.34
16시_속도  53.79
17시_속도  54.27
18시_속도  53.12
19시_속도  53.29
20시_속도  52.56
21시_속도  53.98
22시_속도  54.85
23시_속도  55.17
24시_속도  55.26

In [36]:
for i in range(1,1560) :
  t_df = velo_df.loc[i]
  t_df = t_df.transpose()
  vel_01 = pd.concat([vel_01, t_df])

In [37]:
vel_01

            0
01시_속도  58.43
02시_속도  57.97
03시_속도  61.02
04시_속도  61.25
05시_속도  57.99
...       ...
20시_속도  42.84
21시_속도  44.97
22시_속도  47.14
23시_속도  49.55
24시_속도  51.73

[37440 rows x 1 columns]

In [44]:
vol_01 = vol_df.loc[[0]]
vol_01 = vol_01.transpose()
vol_01

            0
01시_교통량   116
02시_교통량    92
03시_교통량   102
04시_교통량   174
05시_교통량   447
06시_교통량  1321
07시_교통량  2178
08시_교통량  2292
09시_교통량  2342
10시_교통량  1998
11시_교통량  1834
12시_교통량  1733
13시_교통량  1938
14시_교통량  2035
15시_교통량  2184
16시_교통량  2493
17시_교통량  2721
18시_교통량  2921
19시_교통량  1993
20시_교통량  1311
21시_교통량  1097
22시_교통량   982
23시_교통량   492
24시_교통량   213

In [45]:
for i in range(1,1560) :
  v_df = vol_df.loc[i]
  v_df = v_df.transpose()
  vol_01 = pd.concat([vol_01, v_df])

In [46]:
vol_01

            0
01시_교통량   116
02시_교통량    92
03시_교통량   102
04시_교통량   174
05시_교통량   447
...       ...
20시_교통량  1125
21시_교통량   998
22시_교통량   954
23시_교통량   701
24시_교통량   496

[37440 rows x 1 columns]

In [58]:
vol_01 = vol_01.reset_index(inplace=False)

In [60]:
vol_01 = vol_01.drop(['level_0', 'index'], axis =1)
vol_01

          0
0       116
1        92
2       102
3       174
4       447
...     ...
37435  1125
37436   998
37437   954
37438   701
37439   496

[37440 rows x 1 columns]

In [71]:
vol_01.astype('int')

          0
0       116
1        92
2       102
3       174
4       447
...     ...
37435  1125
37436   998
37437   954
37438   701
37439   496

[37440 rows x 1 columns]

In [73]:
vol_01.index=vel_01.index

In [74]:
vol_01

           0
01시_속도   116
02시_속도    92
03시_속도   102
04시_속도   174
05시_속도   447
...      ...
20시_속도  1125
21시_속도   998
22시_속도   954
23시_속도   701
24시_속도   496

[37440 rows x 1 columns]

In [75]:
vel_01[1] = vol_01[0]
vel_01

            0     1
01시_속도  58.43   116
02시_속도  57.97    92
03시_속도  61.02   102
04시_속도  61.25   174
05시_속도  57.99   447
...       ...   ...
20시_속도  42.84  1125
21시_속도  44.97   998
22시_속도  47.14   954
23시_속도  49.55   701
24시_속도  51.73   496

[37440 rows x 2 columns]

In [77]:
vel_01.to_csv('/content/drive/MyDrive/공모전/전처리/교통량속도변환.csv')

In [5]:
csv1 = '/content/drive/MyDrive/공모전/전처리/교통량속도변환.csv'
a = pd.read_csv(csv1, encoding = 'utf-8-sig')
vel_01 = pd.DataFrame(a)

In [97]:
vel_01

      Unnamed: 0      0     1
0         01시_속도  58.43   116
1         02시_속도  57.97    92
2         03시_속도  61.02   102
3         04시_속도  61.25   174
4         05시_속도  57.99   447
...          ...    ...   ...
37435     20시_속도  42.84  1125
37436     21시_속도  44.97   998
37437     22시_속도  47.14   954
37438     23시_속도  49.55   701
37439     24시_속도  51.73   496

[37440 rows x 3 columns]

In [6]:
vel_01.rename(columns={'Unnamed: 0':'시간'}, inplace=True)
vel_01.rename(columns={'0':'속도'}, inplace=True)

In [7]:
vel_01.rename(columns={'1':'교통량'}, inplace=True)

In [104]:
#1시 ->0, 24시 ->23

           시간     속도   교통량
0      01시_속도  58.43   116
1      02시_속도  57.97    92
2      03시_속도  61.02   102
3      04시_속도  61.25   174
4      05시_속도  57.99   447
...       ...    ...   ...
37435  20시_속도  42.84  1125
37436  21시_속도  44.97   998
37437  22시_속도  47.14   954
37438  23시_속도  49.55   701
37439  24시_속도  51.73   496

[37440 rows x 3 columns]

In [8]:
vel_01 = vel_01.replace('01시_속도', '0')
vel_01 = vel_01.replace('02시_속도', '1')
vel_01 = vel_01.replace('03시_속도', '2')
vel_01 = vel_01.replace('04시_속도', '3')
vel_01 = vel_01.replace('05시_속도', '4')
vel_01 = vel_01.replace('06시_속도', '5')
vel_01 = vel_01.replace('07시_속도', '6')
vel_01 = vel_01.replace('08시_속도', '7')
vel_01 = vel_01.replace('09시_속도', '8')
vel_01 = vel_01.replace('10시_속도', '9')
vel_01 = vel_01.replace('11시_속도', '10')
vel_01 = vel_01.replace('12시_속도', '11')
vel_01 = vel_01.replace('13시_속도', '12')
vel_01 = vel_01.replace('14시_속도', '13')
vel_01 = vel_01.replace('15시_속도', '14')
vel_01 = vel_01.replace('16시_속도', '15')
vel_01 = vel_01.replace('17시_속도', '16')
vel_01 = vel_01.replace('18시_속도', '17')
vel_01 = vel_01.replace('19시_속도', '18')
vel_01 = vel_01.replace('20시_속도', '19')
vel_01 = vel_01.replace('21시_속도', '20')
vel_01 = vel_01.replace('22시_속도', '21')
vel_01 = vel_01.replace('23시_속도', '22')
vel_01 = vel_01.replace('24시_속도', '23')

vel_01

       시간     속도   교통량
0       0  58.43   116
1       1  57.97    92
2       2  61.02   102
3       3  61.25   174
4       4  57.99   447
...    ..    ...   ...
37435  19  42.84  1125
37436  20  44.97   998
37437  21  47.14   954
37438  22  49.55   701
37439  23  51.73   496

[37440 rows x 3 columns]

In [107]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['Unnamed: 0', '일자', '요일', '도로명', '지점번호', '시점명', '종점명', '방향', '거리',
       '차선수', '기능유형구분', '도심/외곽구분', '권역구분', '01시_속도', '02시_속도', '03시_속도',
       '04시_속도', '05시_속도', '06시_속도', '07시_속도', '08시_속도', '09시_속도', '10시_속도',
       '11시_속도', '12시_속도', '13시_속도', '14시_속도', '15시_속도', '16시_속도', '17시_속도',
       '18시_속도', '19시_속도', '20시_속도', '21시_속도', '22시_속도', '23시_속도', '24시_속도',
       '01시_교통량', '02시_교통량', '03시_교통량', '04시_교통량', '05시_교통량', '06시_교통량',
       '07시_교통량', '08시_교통량', '09시_교통량', '10시_교통량', '11시_교통량', '12시_교통량',
       '13시_교통량', '14시_교통량', '15시_교통량', '16시_교통량', '17시_교통량', '18시_교통량',
       '19시_교통량', '20시_교통량', '21시_교통량', '22시_교통량', '23시_교통량', '24시_교통량'],
      dtype='object')>

In [9]:
info_df = df[['일자', '요일', '도로명', '지점번호', '시점명', '종점명', '방향', '거리',
       '차선수', '기능유형구분', '도심/외곽구분', '권역구분']]
info_df

,일자,요일,도로명,지점번호,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분
0,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
1,20220302,수,동일로,D-07,군자교동단,화양사거리,하행,1350,2,주간선도로,외곽,광진구
2,20220302,수,분당수서로,C-17,청담대교북단,청담대교남단,상행,1575,3,도시고속도로,외곽,광진구
3,20220302,수,송파대로,C-18,잠실대교북단,잠실대교남단,상행,1171,4,주간선도로,외곽,광진구
4,20220302,수,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,20230131,화,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
1556,20230131,화,동일로,D-07,군자교동단,화양사거리,하행,1350,2,주간선도로,외곽,광진구
1557,20230131,화,분당수서로,C-17,청담대교북단,청담대교남단,상행,1575,3,도시고속도로,외곽,광진구
1558,20230131,화,송파대로,C-18,잠실대교북단,잠실대교남단,상행,1171,4,주간선도로,외곽,광진구
1559,20230131,화,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구

In [17]:
in_df = info_df.loc[[0]]

in_df

,일자,요일,도로명,지점번호,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분
0,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구

In [20]:
for i in range(0,1560) :
  hn_df = info_df.loc[[i]]
  hn_df = pd.concat([hn_df, hn_df, hn_df, hn_df])
  hn_df = pd.concat([hn_df, hn_df])
  hn_df = pd.concat([hn_df, hn_df, hn_df])
  in_df = pd.concat([in_df, hn_df])
in_df

# 30분이 넘도록 완료되지 않음.

KeyboardInterrupt: ignored

In [21]:
my_list = []
for i in range(0,1560) :
  hn_df = info_df.loc[[i]]
  for j in range(0,24) :
    my_list.append(hn_df)

total_df = pd.concat(my_list)

In [23]:
in_df = total_df

In [32]:
in_df = in_df.reset_index()

In [30]:
vel_01

       시간     속도   교통량
0       0  58.43   116
1       1  57.97    92
2       2  61.02   102
3       3  61.25   174
4       4  57.99   447
...    ..    ...   ...
37435  19  42.84  1125
37436  20  44.97   998
37437  21  47.14   954
37438  22  49.55   701
37439  23  51.73   496

[37440 rows x 3 columns]

In [33]:
vel_01['일자'] = in_df['일자']
vel_01['요일'] = in_df['요일']
vel_01['도로명'] = in_df['도로명']
vel_01['지점번호'] = in_df['지점번호']
vel_01['시점명'] = in_df['시점명']
vel_01['종점명'] = in_df['종점명']
vel_01['방향'] = in_df['방향']
vel_01['거리'] = in_df['거리']
vel_01['차선수'] = in_df['차선수']
vel_01['기능유형구분'] = in_df['기능유형구분']
vel_01['도심/외곽구분'] = in_df['도심/외곽구분']
vel_01['권역구분'] = in_df['권역구분']

In [34]:
vel_01

,시간,속도,교통량,일자,요일,도로명,지점번호,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분
0,0,58.43,116,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
1,1,57.97,92,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
2,2,61.02,102,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
3,3,61.25,174,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
4,4,57.99,447,20220302,수,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37435,19,42.84,1125,20230131,화,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37436,20,44.97,998,20230131,화,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37437,21,47.14,954,20230131,화,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37438,22,49.55,701,20230131,화,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37439,23,51.73,496,20230131,화,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구

In [36]:
#요일 벡터화
vel_01 = vel_01.replace('월', '0')
vel_01 = vel_01.replace('화', '1')
vel_01 =vel_01.replace('수', '2')
vel_01 =vel_01.replace('목', '3')
vel_01 =vel_01.replace('금', '4')
vel_01 =vel_01.replace('토', '5')
vel_01 =vel_01.replace('일', '6')

In [37]:
vel_01

,시간,속도,교통량,일자,요일,도로명,지점번호,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분
0,0,58.43,116,20220302,2,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
1,1,57.97,92,20220302,2,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
2,2,61.02,102,20220302,2,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
3,3,61.25,174,20220302,2,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
4,4,57.99,447,20220302,2,강동대로,C-19,올림픽대교북단,올림픽대교남단,상행,1228,3,주간선도로,외곽,광진구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37435,19,42.84,1125,20230131,1,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37436,20,44.97,998,20230131,1,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37437,21,47.14,954,20230131,1,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37438,22,49.55,701,20230131,1,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구
37439,23,51.73,496,20230131,1,천호대로,C-20,천호대교북단,천호대교남단,상행,1001,3,주간선도로,외곽,광진구

In [39]:
vel_01.to_csv('/content/drive/MyDrive/공모전/데이터/학습용/데이터변환1.csv')

In [ ]:
#주말 유무 체크 0~4 면 0/ 5,6이면 1인데, 0중에서 공휴일로 판단시 1로 변경